html {
  font-family: Roboto, sans-serif;
}
*{
  color: rgb(90, 87, 87);
}
h1{
  font-size: 30px;
  color: rgb(140, 189, 230);
  margin-bottom: 0,25em;
}
h2 {
  color: rgb(140, 189, 230);
}
h3 {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: -25px;
}
a {
  color: rgb(140, 189, 230);
}



